@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.ghost {
    color: #9B9B9B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.1px;
}

.red {
    color: #FF5480;
}

.red-b {
    background-color: #FF5480;
}


.grisaceo {
    background: #F9F9FB;
}

.blanco {
    color: #FFF;
}

.blanco-b {
    background-color: #FFF;
}

.negro {
    color: #000;
}

.backgroundOne {
    background: url(../assets/img/Pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 860px;
    height: 484px;
}

.backgroundTwo {
    background: url(../assets/img/carta.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    width: 639px;
    height: 359px;
}

.backgroundThree {
    background: url(../assets/img/Rectangle\ 3\ Copy\ 37.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    width: 276px;
    height: 169px;
}

.backgroundThree-2 {
    background: url(../assets/img/Rectangle\ 3\ Copy\ 37.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    width: 1168px;
    height: 358px;
}

.backgroundFour {
    background: url(../assets/img/chap4_ent_sprint-1920x1080.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    width: 638px;
    height: 359px;
}

.backgroundFive {
    background: url(../assets/img/Card\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    width: 638px;
    height: 359px;
}

.backgroundSix {
    background: url(../assets/img/Rectangle\ 3\ Copy\ 37\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    width: 276px;
    height: 146px;
    fill: #FFF;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.08));
}

.standar {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.1px;
}

.semistandar {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px; 
    letter-spacing: -0.175px;
}

.titulo {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -0.225px;
}

.semititulo {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px; 
    letter-spacing: -0.15px;
}

.mt-12 {
    margin-top: -12px;
}

.trampa {
    position: relative;
    top: 15px;
    left: -41px;
    padding-inline: 84px;
    padding-top: 31px;
    background-color: #FF5480;
    color: #FFF;
}

.trampa2 {
    position: relative;
    top: 0px;
    left: 30px;
}

.texto {
    margin-left: 70px;
    margin-right: 207px;
    margin-top: 28px;
}

.especial {
    color: #9283E0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    line-height: 58px; /* 241.667% */
    letter-spacing: -0.15px;
}

.icono {
    position: relative;
    top: 0px;
    left: 500px;
    border-radius: 40px;
}

.icono2 {
    border-radius: 40px;
}

.boton {
    position: relative;
    top: -55px;
    left: 765px;
    padding: 10px;
}

.boton2 {
    position: relative;
    top: 0px;
    left: 215px;
}

.marginEspecial {
    margin-left: 42px;
}

.tamano {
    position: relative;
    width: 1000px;
    left: 120px;
}

.coment {
    margin-left: 125px;
}

.coment2 {
    margin-left: 125px;
}

.imput {
    width: 50%;
    border-radius: 10px;
    border: 2px solid #E6E6E6;
    background: #FFF;
}