@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.ghost {
    color: #9B9B9B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.1px;
}

.red {
    color: #FF5480;
}

.grisaceo {
    background: #F9F9FB;
}

.blanco {
    color: #FFF;
}

.blanco-b {
    background-color: #FFF;
}

.negro {
    color: #000;
}

.backgroundOne {
    background: url(../assets/img/Pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 860px;
    height: 484px;
}

.backgroundTwo {
    background: url(../assets/img/carta.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    width: 639px;
    height: 359px;
}

.backgroundThree {
    background: url(../assets/img/Rectangle\ 3\ Copy\ 37.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    width: 276px;
    height: 169px;
}

.backgroundThree-2 {
    background: url(../assets/img/Rectangle\ 3\ Copy\ 37.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    width: 1168px;
    height: 358px;
}

.backgroundFour {
    background: url(../assets/img/chap4_ent_sprint-1920x1080.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    width: 638px;
    height: 359px;
}

.backgroundFive {
    background: url(../assets/img/Card\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    width: 638px;
    height: 359px;
}

.standar {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.1px;
}

.semistandar {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px; 
    letter-spacing: -0.175px;
}

.titulo {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -0.225px;
}

.semititulo {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px; 
    letter-spacing: -0.15px;
}

.mt-12 {
    margin-top: -12px;
}